<div style="position: relative; height: 75vh">
<canvas id="${CHART_ID}"></canvas>
</div>
<script>

  new Chart(document.getElementById("${CHART_ID}"), {
      type: 'line',
      data: {
        datasets: [
            ${GRAPH_DATA}
        ]
      },
      options: {
            maintainAspectRatio: false,
            responsive: true,
            title: {
              display: false,
              text: '${GRAPH_TITLE}'
            },

            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        parser: 'DD/MM/YYYY HH:mm',
                        unit: 'day'
                    }
                }],
            }
      }
});

</script>
