<canvas id="${CHART_ID}" width="800" height="450"></canvas>
<script>

  new Chart(document.getElementById("${CHART_ID}"), {
      type: 'line',
      data: {
        datasets: [
            ${GRAPH_DATA}
        ]
      },
      options: {
            title: {
              display: true,
              text: '${GRAPH_TITLE}'
            },

            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        parser: 'DD/MM/YYYY HH:mm',
                        unit: 'day'
                    }
                }],
            }
      }
});

</script>
