body {
    background-color: #202023;
    color: #a7afc5;
    font-family: arial;
    margin: 100px;
}

.container {
    font-size: 14px;
    padding: 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1c21;
}

.header {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ccc;
}

.content {
}

.highlight {
    color: #fff;
    font-weight: bold;
}

.status_grp {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lifx_grp {
    margin-top: 5px;
    margin-bottom: 5px;
}

.receiver_grp {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rec_vol {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label_text {
    margin-right: 10px;
}

select {
    color: #ccc;
    font-weight: bold;
    background-color: #444;
    border: 0;
    margin-right: 15px;
}

.item {
    font-size: 16px;
    margin-right: 25px;
}

#receiver_vol {
    margin-right: 10px;
    width: 70px;
    border: 0px;
    color: #ccc;
    background-color: #444;
}

.button {
    padding: 5px;
    margin-right: 10px;
    border: 0;
    background-color: #444;
    color: #ccc;
    margin-left: 10px;
}
