<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="$CSS_PATH">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>

    // Receiver Input Form
    $(function () {
        $("#rec_input").on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                type: "post",
                url: "/ops",
                data: $(this).serialize(),
                success: function (response) {
                    if (response) {
                        alert(response);
                    }
                }
            });
        });
    });

    // Send JSON Data
    function send_JSON(data_to_send) {
                $.ajax({
                type: "post",
                url: "/ops",
                contentType: 'application/json',
                data: JSON.stringify(data_to_send),
                processData: false,
                error: function (response) {
                    if (response) {
                        alert(response.responseText);
                    }
                }
            });
    };

    // Send Command
    function send_command(device, operation, command) {
           var data_to_send = {
               device: device,
               operation: operation,
               command: command
           };

           send_JSON(data_to_send);

    };

    // Query a Device's Values
    function query(device, item, value) {

        var data_to_send = {
            device: device,
            item: item,
            value: value
        }

       $.ajax({
            type: "post",
            url: "/query",
            contentType: 'application/json',
            data: JSON.stringify(data_to_send),
            processData: false,
            success: function (response) {
                if (response) {
                    updateResult(response)
                }
            }
       });
    };

    // Update Result
    function updateResult(response) {
        document.getElementById("current_vol").textContent=response + " db";
    }

    // Update Volume
    function update_vol() {
        vol = document.getElementById("vol").value;

           var data_to_send = {
               device: 'receiver',
               operation: 'volume',
               command: vol
           };

        send_JSON(data_to_send);
        query('receiver', 'convert_vol', vol);
    };

    </script>
    <title>Luma Tools Web</title>
</head>

<body>

